<!DOCTYPE html>
<html lang="JP">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bookers/books</title>
</head>
<body>
  <p id="notice"></p>
  <h1>Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>たのしいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td><a class="show_45854" href="/books/45854">Show</a></td>
        <td><a class="edit_45854" href="/books/45854/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_45854" rel="nofollow" data-method="delete" href="/books/45854">Destroy</a></td>
      </tr>
        <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="show_45847" href="/books/45847">Show</a></td>
        <td><a class="edit_45847" href="/books/45847/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_45847" rel="nofollow" data-method="delete" href="/books/45847">Destroy</a></td>
      </tr>
      <tr>
        <td>トラブル知らずのシステム設計</td>
        <td>システム設計の要点を図解で説明してくれます</td>
        <td><a class="show_45848" href="/books/45848">Show</a></td>
        <td><a class="edit_45848" href="/books/45848/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_45848" rel="nofollow" data-method="delete" href="/books/45848">Destroy</a></td>
      </tr>
      <tr>
        <td>たのしいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td><a class="show_45849" href="/books/45849">Show</a></td>
        <td><a class="edit_45849" href="/books/45849/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_45849" rel="nofollow" data-method="delete" href="/books/45849">Destroy</a></td>
      </tr>
      <tr>
        <td>入門Git</td>
        <td>gitについての基本操作から内部構造まで解説してくれます</td>
        <td><a class="show_45850" href="/books/45850">Show</a></td>
        <td><a class="edit_45850" href="/books/45850/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_45850" rel="nofollow" data-method="delete" href="/books/45850">Destroy</a></td>
      </tr>
      <tr>
        <td>アルゴリズム図鑑</td>
        <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
        <td><a class="show_45851" href="/books/45851">Show</a></td>
        <td><a class="edit_45851" href="/books/45851/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_45851" rel="nofollow" data-method="delete" href="/books/45851">Destroy</a></td>
      </tr>
      <tr>
        <td>達人プログラマー</td>
        <td>プログラマ入門者は必読！</td>
        <td><a class="show_45852" href="/books/45852">Show</a></td>
        <td><a class="edit_45852" href="/books/45852/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_45852" rel="nofollow" data-method="delete" href="/books/45852">Destroy</a></td>
      </tr>
	</tbody>
    </tbody>
    
  </table>
 <%= form_with model:@book, local:true do |f| %>
  <h2>New book</h2>
  <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="ivdIqs6hh1ah/khhHyKnSVuZZYx4MuSPZU+LmPvDjxXc8gXnHvaIkeeiDBrH4cME5Ev039om7KqjX2Pzwpp7lQ==">

  <div class="field">
    <label for="book_title">Title</label>
     <%= f.text_field :title %>

  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <%= f.text_area :body %>
    
  </div>

  <div class="actions">
      <%= f.submit 'Create Book' %>
      
      <% end %>
  </div>

</form>

</body>
</html>